body {
    background-color: #CFEA94;
    background-image: url('img/3.0/headbg.gif');
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
}

.logintxt {
    font-size: 12pt;
    font-weight: bold;
}

.loginbutton:hover {
    background-repeat: no-repeat;
    background-position: -225px 0;
}

.loginbutton {
    display: block;
    background-repeat: no-repeat;
    width: 225px;
    height: 66px;
    text-decoration: none;
    background: url("img/3.0/login_both.gif");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    cursor: pointer;
}
